<ion-header>
  <ion-toolbar>
    <ion-title>
      To Do
    </ion-title>
    <ion-row justify-content-between align-items-center class="toolbar-content">
    <p>You have {{taskCount}} tasks remaining today</p>
      <ion-row justify-content-between align-items-center>
        <ion-datetime
          value="1995-04-15"
          [dayShortNames]="customDayShortNames"
          displayFormat="DD MMM"
          monthShortNames="Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec"
          placeholder="select"
          [(ngModel)] = "date"
          (ionChange)="dateChanged($event)"
        ></ion-datetime>
        <ion-label>
          <ion-icon name="calendar"></ion-icon>
        </ion-label>
      </ion-row>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="tasks-content">
      <ion-list>
        <ion-row *ngFor="let task of tasks"> 
          <ion-col size="8">
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>
                  {{task.category}}
                </ion-card-subtitle>
                <div [ngClass]="{'high': task.priority === 'high','medium': task.priority === 'medium', 'low': task.priority === 'low'}"></div>
              </ion-card-header>
              <ion-card-content class="ellipsis-text ">
                <span *ngFor="let item of task.items; let isLast= last">
                  {{item.item_name}}{{isLast ? '': ','}}
                </span>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="4">
            <ion-row justify-content-around align-items-center class="category-time">
              <ion-checkbox></ion-checkbox>
                <ion-text color="primary">
                  <p>{{task.time}}</p>
                </ion-text>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-list>
    </div>
  </div>
  <div class="add-task-btn">
    <div class="add-btn">
        <ion-icon name="create" (click)="navigateToCreateList()"></ion-icon>
    </div>
  </div>

</ion-content>


