<ion-header>
  <ion-toolbar>
    <ion-title>
      To Do
    </ion-title>
    <ion-row justify-content-between align-items-center class="toolbar-content">
      <p>You have {{taskCount}} remaining today</p>
      <ion-row justify-content-between align-items-center>
        <ion-datetime
          value="1995-04-15"
          [dayShortNames]="customDayShortNames"
          displayFormat="DD MMM"
          monthShortNames="Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec"
          placeholder="select"
        ></ion-datetime>
        <ion-label>
          <ion-icon name="calendar"></ion-icon>
        </ion-label>
      </ion-row>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="tasks-content">
      <ion-list>
        <ion-row *ngFor="let number of [0,1,2,3,4,5,6]"> 
          <ion-col size="8">
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Household</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="ellipsis-text ">
                Mopping, Dusting, Waste disposal
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="4">
            <ion-row justify-content-around align-items-center class="category-time">
              <ion-checkbox></ion-checkbox>
                <ion-text color="primary">
                  <p>12:00 AM</p>
                </ion-text>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-list>
    </div>
  </div>
  <div class="add-task-btn">
    <div class="add-btn">
        <ion-icon name="create"></ion-icon>
    </div>
  </div>
</ion-content>
